html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#app {
  position: relative;
}
.div-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex-center {
  display: flex;
  justify-content: center;
}

.btn-set-card {
  margin: 2px 0;
}
.word-box {
  font-size: 48px;
}

.game-control-panel {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.game-control-panel > button {
  touch-action: manipulation;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-top {
  position: absolute;
  font-size: 14px;
  width: 22rem;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
}
